* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: arial, sans-serif, helvetica;
  background-color: #f4f4f4;
  color: #20caaeff;
  overflow-x: hidden;
}
.logo {
  font-size: x-large;
}
.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0 1rem;
}
.title-bar h2 {
  font-size: 30px;
}
.title-bar p {
  font-size: 18px;
}
.title-bar span {
  padding: 2px 6px;
  border: 1px solid #999292;
}
main {
  width: 90%;
  margin: 0 auto;
}
.img-card {
  flex: 1 1 24%;
}
.cover-image img {
  width: 100%;
  height: 500px;
}
.img-overlay {
  display: flex;
  justify-content: space-between;
  padding: 8px 0 16px;
}
.img-overlay p {
  font-size: 16px;
  color: #555151;
}
.img-overlay span {
  font-size: 14px;
  color: #888484;
}
.img-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}
.img-cards {
  margin-bottom: 5rem;
}
input[type="text"] {
  background-image: url(images/searchicon.png);
  background-position: 12rem;
  background-repeat: no-repeat;
}
.search-box {
  position: absolute;
  top: 33%;
  left: 40%;
}
.search-box input {
  font-size: 15px;
  border: none;
  background-color: white;
  padding: 14px 20px 14px 14px;
  color: green;
  outline: none;
}
.search-box button {
  background-color: #20caaeff;
  color: white;
  border: none;
  padding: 11px 25px;
  cursor: pointer;
}
article {
  width: 90%;
  margin: 0 auto;
}
nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  width: 90%;
  margin: 0 auto;
}
.navlinks ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.navlinks ul li {
  font-size: larger;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}
.navlinks ul li:hover {
  border-bottom: 2px solid red;
}
.navlinks ul li a {
  letter-spacing: 1px;
  text-decoration: none;
  color: #000;
}
.previous-nxt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.btn-pre button,
.btn-nxt button {
  font-size: 18px;
  padding: 12px 20px;
  border: none;
  background-color: #20caaeff;
  color: #fff;
  cursor: pointer;
}
.page-no .page-one {
  font-size: 18px;
  color: #fff;
  padding: 8px 15px;
  cursor: pointer;
  border: none;
  background-color: #20caaeff;
}
.page-no span {
  font-size: 18px;
  margin: 0 5px 0;
  padding: 6px 15px;
  cursor: pointer;
  border: 1px solid rgb(228, 233, 231);
  background-color: #dfdddd;
  color: rgb(119, 119, 119);
}
footer {
  background-color: #e7e7e7;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.footer-content h2 {
  font-size: x-large;
}
img {
  max-width: 100%;
  height: auto;
}
.footer-content1 {
  display: flex;
  margin-bottom: 3rem;
}
.footer-content2 {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 3rem;
}
.footer-container {
  width: 60%;
  margin: 0 auto;
}
.para {
  text-align: center;
}
.content1,
.content2,
.content3 {
  width: 33.3%;
}
.footer-container p {
  font-size: 16px;
  color: #555151;
  text-align: justify;
  line-height: 24px;
}
.dic {
  font-size: 16px;
  color: #555151;
  padding: 5px 0px;
  text-align: center;
}
.dif {
  font-size: 16px;
  color: #555151;
  text-align: end;
}
.social-icons i {
  color: rgb(160, 158, 158);
  background-color: #ffffff;
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #094e03;
}

@media (max-width: 768px) {
  .logo {
    margin: 10px 0;
  }
  .img-card {
    flex: 1 1 33%;
  }
  .cover-image img {
    height: auto;
  }
  .search-box {
    top: 52%;
    left: 35%;
  }
  .previous-nxt {
    margin-bottom: 3rem;
  }
  nav.navbar {
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 0;
  }
  .navlinks ul {
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    gap: 10px;
  }
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  .footer-content1,
  .footer-content2 {
    flex-direction: column;
  }
  .content1,
  .content2,
  .content3 {
    width: 100%;
    margin-bottom: 20px;
  }
  .img-overlay p {
    font-size: 16px;
    color: #555151;
  }
  .img-overlay span {
    font-size: 14px;
    color: #888484;
  }
  .btn-pre button,
  .btn-nxt button {
    font-size: 16px;
    padding: 12px 16px;
  }
  .page-no .page-one {
    font-size: 14px;
    padding: 10px 14px;
  }
  .page-no span {
    font-size: 14px;
    padding: 8px 14px;
    margin: 2px;
  }
  .title-bar {
    margin-bottom: 1rem;
  }
  .title-bar h2 {
    font-size: 26px;
  }
  .title-bar p {
    font-size: 16px;
  }
  .title-bar span {
    padding: 0px 4px;
  }
  .footer-content h2 {
    margin-bottom: 10px;
  }
  .content3 {
    width: 65%;
  }
  .footer-content2 {
    height: auto;
    padding-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .cover-image img {
    height: auto;
  }
  nav.navbar {
    padding: 0px 0px 10px;
  }
  .img-card {
    flex: 1 1 66%;
  }
  .img-card {
    margin: 0;
  }
  .img-cards {
    margin-bottom: 2rem;
  }
  .content3 {
    width: 75%;
  }
  .navlinks ul {
    gap: 6px;
  }
  .search-box {
    top: 42%;
    left: 26%;
  }
  .page-no span {
    font-size: 12px;
    padding: 4px 6px;
    margin: 0;
  }
  .page-no .page-one {
    font-size: 10px;
    padding: 7px 10px;
  }
  .btn-pre button,
  .btn-nxt button {
    font-size: 12px;
    padding: 6px 6px;
  }
  .previous-nxt {
    margin-bottom: 2rem;
  }
  .img-overlay p {
    font-size: 14px;
  }
  .title-bar p {
    font-size: 14px;
  }
}
